<!DOCTYPE html>
<html>
  <head>
 <title>West</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <li><a href="layout.erb">Home +</a>
        <ul>
          <li><a href="#" target="_self">Pacific Coast</a></li>
          <li><a href="mtn.html" target="_self">Mountain</a></li>
          <li><a href="east.html" target="_self">East Coast</a></li>
          <li><a href="additional.html" target="_self">Additional Resources</a></li>
          <li><a href="authors.html" target="_self">The Creators</a></li>
      
        </ul>
        </li>
        
 
  </head>

<body>

<div class="w3-light-grey w3-padding-40 w3-margin-bottom w3-center">
  <h1 class="w3-jumbo">West</h1>
</div>

<div class="w3-row-padding w3-content" style="max-width:1400px">
  <div class="w3-twothird">
    <img src="http://departmentofwandering.com/wp-content/uploads/2014/10/Pacific-coast-highway-13.jpg" alt="Notebook" style="width:100%">
    <h2>Environmental Issues</h2>
    <div class="w3-justify">
      <p>Among the known impacts: Butterflies in the Central Valley are emerging from hiding earlier in the spring. Glaciers in the Sierra Nevada have shrunk. Spring runoff from snowmelt has declined, affecting Central Valley farmers and hydroelectric plants that rely on snowmelt to produce power. 

The latest 258-page report, which cost $282,000 to produce, was compiled from existing climate studies and released by an arm of the California Environmental Protection Agency. 

Officials hope it would spur the state and local governments to plan ahead and adapt to a hotter future. 

Monitoring should continue "to reduce the impacts of climate change and to prepare for those effects that we cannot avoid," George Alexeeff, head of the state Office of Environmental Health Hazard Assessment, said in an email. 

Annual average temperatures across the state have risen by about 1.5 degrees Fahrenheit since 1895, with the greatest warming seen in portions of the Central Valley and Southern California. 

Levels of carbon dioxide, methane and other heat-trapping gases in the state increased between 1990 and 2011. In recent years, there has been a slight drop – the result of industries and vehicles becoming more energy efficient, the report said. 

Some of the carbon dioxide in the atmosphere is being absorbed by the ocean, altering its chemistry. Scientists have documented changes to waters at Monterey Bay, which have turned more acidic in recent years, raising concerns about impact to marine life. 

Ocean warming, among other factors, may be behind the dramatic drop of Chinook salmon in Central California since 2004. And certain plant and animals species – such as conifers in the Sierra Nevada and small mammals in Yosemite National Park – have responded to a changing climate by moving to higher ground. 

Expect more heat waves, wildfires and higher sea levels as the state warms, the report said. 

The report "vastly overstates the impacts of greenhouse gases," said University of Alabama at Huntsville atmospheric sciences professor John Christy, who holds a minority view among climate scientists. 

Carnegie Institution ecologist Chris Field, an acknowledged leader in the field of climate impacts, said the observations in the report "are more or less the gold standard of where we are now today" and provide a peek of the future.</p>

<h2>More Issues By State</h2>
<li>
  <a href="https://alaskaconservation.org/conservation-issues/">Alaska</a></li>
 <li> <a href="http://www.demos.org/publication/economic-and-environmental-impacts-climate-change-arizona">Arizona</a></li>
<li><a href="https://environmentcalifornia.org/issues">California</a></li>
 <li> <a href="https://conservationco.org/issues/">Colorado</a></li>
<li><a href="https://sierraclubhawaii.org/environmental-issues/">Hawaii</a></li>
<li><a href="http://www.idahoco-op.org/environmental-issues.html">Idaho</a></li>
<li><a href="https://meic.org/issues/">Montana</a></li>
<li><a href="http://cdclv.unlv.edu/healthnv/environment.html">Nevada</a></li>

<li><a href="https://greenfiretimes.com/2016/01/the-new-mexico-environmental-law-centers-top-10-issues-to-watch-in-2016/">New Mexico</a></li>

<li><a href="http://scorecard.goodguide.com/env-releases/state-choose-issue.tcl?usps_abbrev=OR">Oregon</a></li>
<li><a href="https://tpwd.texas.gov/landwater/water/environconcerns/">Texas</a></li>
<li>
<a href="https://ecology.wa.gov/Water-Shorelines/Puget-Sound/Issues-problems">Washington</a>
</li>
<li>
<a href="https://www.nature.org/ourinitiatives/regions/northamerica/unitedstates/wyoming/index.htm">Wyoming</a>
</li>

    </div>
  </div>
  <div class="w3-third">
    <div class="w3-container w3-light-grey">
      <h2>Ways to Help!</h2>
      <p class="w3-justify">
        <h3>Stop the Drought</h3>
        Indoors

<li>Use washing machines for full loads only.</li>
<li>Run the dishwasher only when full.</li>
<li>When washing dishes by hand, don’t let the water run. Fill one basin with wash water and the other with rinse water.</li>
<li>Install an aerator on your kitchen faucet to reduce flow to less than 1 gallon per minute.</li>
<li>Use the garbage disposal sparingly. Alternatively, you can compost vegetable food waste and save gallons of water every time.</li>
<li>Install low-flow shower heads.</li>
<li>Take a five minute shower instead of a 10 minute one.</li>
<li>Turn your bathroom faucet off when brushing your teeth or shaving.</li>
<p>Outdoors</p>

<li>Water early in the morning or later in the evening when temperatures are cooler.</li>
<li>Adjust your sprinklers to ensure only your yard is being watered, not your house, sidewalk or street.</li>
<li>Put a layer of mulch around trees and plants to reduce evaporation and keep the soil cool.</li>
<li>Landscape your yard with climate appropriate plants.</li>
<li>Use a broom instead of a hose to clean driveways, sidewalks and patios.</li>
<li>Wash vehicles with a bucket and sponge, and make sure your hose has a self-closing nozzle.</li>
<h3>Reduce the Waste</h3>
  <li>Get to know the rules of recycling.</li>
  <li>Ditch the plastic bags.</li>
  <li> Make a meal plan.</li>
  <li> Start relying on reusable containers.</li>
  <li>Start composting.</li>
  <li>Learn to repair rather than discard.</li>
  <li>Cancel unnecessary mail.</li>
  <li>Stop using disposable plates.</li>
  <li>Stop buying plastic water bottles. Buy reusable bottles.</li>
      </p>
    </div>
  </div>
</div>

</body>
</html>