<!DOCTYPE html>
<html>
  <head>
    <title>Be the Change!</title>
  </head>
  <body>
    <h1> Which region do you live in?</h1>
  </body>
  <form method = POST>
    <h4>Do you recycle regularly?</h4>
      <input type="radio" name="ans" value="yes">Yes<br>
      <input type="radio" name="ans" value="no">No<br>
    <h4>Do you take showers longer than usual?</h4>
      <input type="radio" name="ans2" value="yes">Yes<br>
      <input type="radio" name="ans2" value="no">No<br>
    <h4>On average, do you order takeout more than 4 times a week?</h4>
      <input type="radio" name="ans3" value="yes">Yes<br>
      <input type="radio" name="ans3" value="no">No<br>
    <h4>Do you use a reusable water bottle?</h4>
      <input type="radio" name="ans4" value="yes">Yes<br>
      <input type="radio" name="ans4" value="no">No<br>
    <h4>Do you enjoy gardening?</h4>
      <input type="radio" name="ans5" value="yes">Yes<br>
      <input type="radio" name="ans5" value="no">No<br>
    <h4>Do you help your community with environmental issues/events?</h4>
      <input type="radio" name="ans6" value="yes">Yes<br>
      <input type="radio" name="ans6" value="no">No<br>
    <input type="submit" value="Show me how to save the Earth!">
    </form>
</html>

