<!DOCTYPE html>
<html>
  <head>
    <title>Your Carbon Footprint</title>
  </head>
  <body>
    <h1>How big is your carbon footprint!</h1>
    <h3>Hi! Out of the given six scenarios, your carbon footprint is <%=@footprint%></h3>
    <img src= "http://www.hitachi.com/environment/images/sitetop/pickup_vision.jpg">
  </body>
</html>